{% extends 'MountDietBundle::layout.html.twig' %}

{% block header %}Jedzenie{% endblock %}

{% form_theme form _self %}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block content %}

    <form action="{{ path('mount_diet_food_create') }}" method="post" {{ form_enctype(form) }} role="form" class="food-form">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
    </form>

  <div class="table-responsive">
    <table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Kalorie</th>
            <th>Węglowodany</th>
            <th>Białka</th>
            <th>Tłuszcze</th>
            <th>Porcja</th>
            <th>&nbsp;</th>
        </tr>

        {% for entity in food %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.category }}</td>
            <td>{{ entity.calories }}</td>
            <td>{{ entity.carbs }}</td>
            <td>{{ entity.protein }}</td>
            <td>{{ entity.fat }}</td>
            <td>{{ entity.servingSize }}</td>
            <td>&nbsp;</td>
        </tr>

        {% else %}
            <p>Brak jedzenia.</p>
        {% endfor %}

    </table>
  </div>
{% endblock %}
