{% extends 'MountDietBundle::layout.html.twig' %}

{% block header %}Dzień: {{ day.date.format('l d.m.Y') }}{% endblock %}

{% block content %}

    <form action="{{ path('mount_diet_days_create') }}" method="post" role="form">
        <input type="hidden" name="date" value="{{ day.date.format('Ymd') }}">

        <ul class="list-group">
          <li class="list-group-item">Kalorie <span class="badge" id="day-calories">0</span></li>
          <li class="list-group-item">Białka <span class="badge" id="day-protein">0</span></li>
          <li class="list-group-item">Węglowodany <span class="badge" id="day-carbs">0</span></li>
          <li class="list-group-item">Tłuszcze <span class="badge" id="day-fat">0</span></li>
        </ul>

        <fieldset>
            <legend>Śniadanie</legend>

            <ul class="list-inline">
              <li>Kalorie <span class="badge" id="breakfast-calories">0</span></li>
              <li>Białka <span class="badge" id="breakfast-protein">0</span></li>
              <li>Węglowodany <span class="badge" id="breakfast-carbs">0</span></li>
              <li>Tłuszcze <span class="badge" id="breakfast-fat">0</span></li>
            </ul>

            <button type="button" class="btn btn-default btn-block btn-sm" data-toggle="collapse" data-target="#breakfast-meals">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <ul id="breakfast-meals" class="collapse list-unstyled meals">
                {% for entity in breakfast %}
                <li class="checkbox">
                    <label for="breakfast-{{ entity.id }}">
                      <input type="checkbox" name="breakfast" id="breakfast-{{ entity.id }}" value="{{ entity.id }}"
                        data-calories="{{ entity.calories }}"
                        data-protein="{{ entity.protein }}"
                        data-carbs="{{ entity.carbs }}"
                        data-fat="{{ entity.fat }}"
                        {% if day.breakfast and day.breakfast.id == entity.id %}checked{% endif %}
                      >
                      {{ entity.name }}
                    </label>
                    <ul class="day-meal-header list-inline small">
                        <li>Kalorie: {{ entity.calories }}</li>
                        <li>Białka: {{ entity.protein }}</li>
                        <li>Węglowodany: {{ entity.carbs }}</li>
                        <li>Tłuszcze: {{ entity.fat }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>II Śniadanie</legend>

            <ul class="list-inline">
              <li>Kalorie <span class="badge" id="second-breakfast-calories">0</span></li>
              <li>Białka <span class="badge" id="second-breakfast-protein">0</span></li>
              <li>Węglowodany <span class="badge" id="second-breakfast-carbs">0</span></li>
              <li>Tłuszcze <span class="badge" id="second-breakfast-fat">0</span></li>
            </ul>

            <button type="button" class="btn btn-default btn-block btn-sm" data-toggle="collapse" data-target="#second-breakfast-meals">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <ul id="second-breakfast-meals" class="collapse list-unstyled meals">
                {% for entity in breakfast %}
                <li class="checkbox">
                    <label for="second_breakfast-{{ entity.id }}">
                      <input type="checkbox" name="second_breakfast" id="second_breakfast-{{ entity.id }}"
                        value="{{ entity.id }}"
                        data-calories="{{ entity.calories }}"
                        data-protein="{{ entity.protein }}"
                        data-carbs="{{ entity.carbs }}"
                        data-fat="{{ entity.fat }}"
                        {% if day.secondBreakfast and day.secondBreakfast.id == entity.id %}checked{% endif %}
                      >
                      {{ entity.name }}
                    </label>
                    <ul class="day-meal-header list-inline small">
                        <li>Kalorie {{ entity.calories }}</li>
                        <li>Białka {{ entity.protein }}</li>
                        <li>Węglowodany {{ entity.carbs }}</li>
                        <li>Tłuszcze {{ entity.fat }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>Obiad</legend>

            <ul class="list-inline">
              <li>Kalorie <span class="badge" id="dinner-calories">0</span></li>
              <li>Białka <span class="badge" id="dinner-protein">0</span></li>
              <li>Węglowodany <span class="badge" id="dinner-carbs">0</span></li>
              <li>Tłuszcze <span class="badge" id="dinner-fat">0</span></li>
            </ul>

            <button type="button" class="btn btn-default btn-block btn-sm" data-toggle="collapse" data-target="#dinner-meals">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <ul id="dinner-meals" class="collapse list-unstyled meals">
                {% for entity in dinner %}
                <li class="checkbox">
                    <label for="dinner-{{ entity.id }}">
                      <input type="checkbox" name="dinner" id="dinner-{{ entity.id }}" value="{{ entity.id }}"
                        data-calories="{{ entity.calories }}"
                        data-protein="{{ entity.protein }}"
                        data-carbs="{{ entity.carbs }}"
                        data-fat="{{ entity.fat }}"
                        {% if day.dinner and day.dinner.id == entity.id %}checked{% endif %}
                      >
                      {{ entity.name }}
                    </label>
                    <ul class="day-meal-header list-inline small">
                        <li>Kalorie {{ entity.calories }}</li>
                        <li>Białka {{ entity.protein }}</li>
                        <li>Węglowodany {{ entity.carbs }}</li>
                        <li>Tłuszcze {{ entity.fat }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>Podwieczorek</legend>

            <ul class="list-inline">
              <li>Kalorie <span class="badge" id="tea-calories">0</span></li>
              <li>Białka <span class="badge" id="tea-protein">0</span></li>
              <li>Węglowodany <span class="badge" id="tea-carbs">0</span></li>
              <li>Tłuszcze <span class="badge" id="tea-fat">0</span></li>
            </ul>

            <button type="button" class="btn btn-default btn-block btn-sm" data-toggle="collapse" data-target="#tea-meals">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <ul id="tea-meals" class="collapse list-unstyled meals">
                {% for entity in tea %}
                <li class="checkbox">
                    <label for="tea-{{ entity.id }}">
                      <input type="checkbox" name="tea" id="tea-{{ entity.id }}" value="{{ entity.id }}"
                        data-calories="{{ entity.calories }}"
                        data-protein="{{ entity.protein }}"
                        data-carbs="{{ entity.carbs }}"
                        data-fat="{{ entity.fat }}"
                        {% if day.tea and day.tea.id == entity.id %}checked{% endif %}
                      >
                      {{ entity.name }}
                    </label>
                    <ul class="day-meal-header list-inline small">
                        <li>Kalorie {{ entity.calories }}</li>
                        <li>Białka {{ entity.protein }}</li>
                        <li>Węglowodany {{ entity.carbs }}</li>
                        <li>Tłuszcze {{ entity.fat }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>Kolacja</legend>

            <ul class="list-inline">
              <li>Kalorie <span class="badge" id="supper-calories">0</span></li>
              <li>Białka <span class="badge" id="supper-protein">0</span></li>
              <li>Węglowodany <span class="badge" id="supper-carbs">0</span></li>
              <li>Tłuszcze <span class="badge" id="supper-fat">0</span></li>
            </ul>

            <button type="button" class="btn btn-default btn-block btn-sm" data-toggle="collapse" data-target="#supper-meals">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>

            <ul id="supper-meals" class="collapse list-unstyled meals">
                {% for entity in supper %}
                <li class="checkbox">
                    <label for="supper-{{ entity.id }}">
                      <input type="radio" name="supper" id="supper-{{ entity.id }}" value="{{ entity.id }}"
                        data-calories="{{ entity.calories }}"
                        data-protein="{{ entity.protein }}"
                        data-carbs="{{ entity.carbs }}"
                        data-fat="{{ entity.fat }}"
                        {% if day.supper and day.supper.id == entity.id %}checked{% endif %}
                      >
                      {{ entity.name }}
                    </label>
                    <ul class="day-meal-header list-inline small">
                        <li>Kalorie {{ entity.calories }}</li>
                        <li>Białka {{ entity.protein }}</li>
                        <li>Węglowodany {{ entity.carbs }}</li>
                        <li>Tłuszcze {{ entity.fat }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
          <input type="submit" class="btn btn-primary btn-block" value="Zapisz" />
        </fieldset>
    </form>
{% endblock %}
