{% extends 'MountDietBundle::layout.html.twig' %}

{% block content %}

  <h2 class="well">{{ day.date.format('l d.m.Y') }}</h2>

  <ul class="list-group">
    <li class="list-group-item">Kalorie <span class="badge">{{ (day.calories) ? day.calories : 0 }}</span></li>
    <li class="list-group-item">Białka <span class="badge">{{ day.protein ? day.protein : 0 }}</span></li>
    <li class="list-group-item">Węglowodany <span class="badge">{{ day.carbs ? day.carbs : 0 }}</span></li>
    <li class="list-group-item">Tłuszcze <span class="badge">{{ day.fat ? day.fat : 0 }}</span></li>
  </ul>

  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseBreakfast">Śniadanie</a>
        </h4>
      </div>
      <div id="collapseBreakfast" class="panel-collapse collapse">
        <div class="panel-body">
          {% if day.getBreakfast() %}
            <h3>{{ day.getBreakfast().getName() }}</h3>
            <div class="day-meal-header">
                Kalorie: {{ day.getBreakfast().getCalories() }}
                Białka: {{ day.getBreakfast().getProtein() }}
                Węglowodany: {{ day.getBreakfast().getCarbs() }}
                Tłuszcze: {{ day.getBreakfast().getFat() }}
            </div>

            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Waga</th>
                    <th>Kalorie</th>
                    <th>Białka</th>
                    <th>Węglowodany</th>
                    <th>Tłuszcze</th>
                <tr>

                {% for food in day.getBreakfast().getFood() %}
                <tr class="meal-food">
                    <td>{{ food.getFood.name }}</td>
                    <td>{{ food.serving }}</td>
                    <td>{{ food.calories }}</td>
                    <td>{{ food.protein }}</td>
                    <td>{{ food.carbs }}</td>
                    <td>{{ food.fat }}</td>
                </tr>
                {% endfor %}
            </table>
          {% else %}
              <a class="btn btn-primary btn-block" href="{{ path('mount_diet_days_day', {'date': "now"|date("Ymd")}) }}">Dodaj posiłki</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSecondBreakfast">Drugie Śniadanie</a>
        </h4>
      </div>
      <div id="collapseSecondBreakfast" class="panel-collapse collapse">
        <div class="panel-body">
          {% if day.getSecondBreakfast() %}
            <h3>{{ day.getSecondBreakfast().getName() }}</h3>
            <div class="day-meal-header">
                Kalorie: {{ day.getSecondBreakfast().getCalories() }}
                Białka: {{ day.getSecondBreakfast().getProtein() }}
                Węglowodany: {{ day.getSecondBreakfast().getCarbs() }}
                Tłuszcze: {{ day.getSecondBreakfast().getFat() }}
            </div>

            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Waga</th>
                    <th>Kalorie</th>
                    <th>Białka</th>
                    <th>Węglowodany</th>
                    <th>Tłuszcze</th>
                <tr>

                {% for food in day.getSecondBreakfast().getFood() %}
                <tr class="meal-food">
                    <td>{{ food.getFood.name }}</td>
                    <td>{{ food.serving }}</td>
                    <td>{{ food.calories }}</td>
                    <td>{{ food.protein }}</td>
                    <td>{{ food.carbs }}</td>
                    <td>{{ food.fat }}</td>
                </tr>
                {% endfor %}
            </table>
          {% else %}
              <a class="btn btn-primary btn-block" href="{{ path('mount_diet_days_day', {'date': "now"|date("Ymd")}) }}">Dodaj posiłki</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseDinner">Obiad</a>
        </h4>
      </div>
      <div id="collapseDinner" class="panel-collapse collapse">
        <div class="panel-body">
          {% if day.getDinner() %}
            <h3>{{ day.getDinner().getName() }}</h3>
            <div class="day-meal-header">
                Kalorie: {{ day.getDinner().getCalories() }}
                Białka: {{ day.getDinner().getProtein() }}
                Węglowodany: {{ day.getDinner().getCarbs() }}
                Tłuszcze: {{ day.getDinner().getFat() }}
            </div>

            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Waga</th>
                    <th>Kalorie</th>
                    <th>Białka</th>
                    <th>Węglowodany</th>
                    <th>Tłuszcze</th>
                <tr>

                {% for food in day.getDinner().getFood() %}
                <tr class="meal-food">
                    <td>{{ food.getFood.name }}</td>
                    <td>{{ food.serving }}</td>
                    <td>{{ food.calories }}</td>
                    <td>{{ food.protein }}</td>
                    <td>{{ food.carbs }}</td>
                    <td>{{ food.fat }}</td>
                </tr>
                {% endfor %}
            </table>
          {% else %}
              <a class="btn btn-primary btn-block" href="{{ path('mount_diet_days_day', {'date': "now"|date("Ymd")}) }}">Dodaj posiłki</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTea">Podwieczorek</a>
        </h4>
      </div>
      <div id="collapseTea" class="panel-collapse collapse">
        <div class="panel-body">
          {% if day.getTea() %}
            <h3>{{ day.getTea().getName() }}</h3>
            <div class="day-meal-header">
                Kalorie: {{ day.getTea().getCalories() }}
                Białka: {{ day.getTea().getProtein() }}
                Węglowodany: {{ day.getTea().getCarbs() }}
                Tłuszcze: {{ day.getTea().getFat() }}
            </div>

            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Waga</th>
                    <th>Kalorie</th>
                    <th>Białka</th>
                    <th>Węglowodany</th>
                    <th>Tłuszcze</th>
                <tr>

                {% for food in day.getTea().getFood() %}
                <tr class="meal-food">
                    <td>{{ food.getFood.name }}</td>
                    <td>{{ food.serving }}</td>
                    <td>{{ food.calories }}</td>
                    <td>{{ food.protein }}</td>
                    <td>{{ food.carbs }}</td>
                    <td>{{ food.fat }}</td>
                </tr>
                {% endfor %}
            </table>
          {% else %}
              <a class="btn btn-primary btn-block" href="{{ path('mount_diet_days_day', {'date': "now"|date("Ymd")}) }}">Dodaj posiłki</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSupper">Kolacja</a>
        </h4>
      </div>
      <div id="collapseSupper" class="panel-collapse collapse">
        <div class="panel-body">
          {% if day.getSupper() %}
            <h3>{{ day.getSupper().getName() }}</h3>
            <div class="day-meal-header">
                Kalorie: {{ day.getSupper().getCalories() }}
                Białka: {{ day.getSupper().getProtein() }}
                Węglowodany: {{ day.getSupper().getCarbs() }}
                Tłuszcze: {{ day.getSupper().getFat() }}
            </div>

            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Waga</th>
                    <th>Kalorie</th>
                    <th>Białka</th>
                    <th>Węglowodany</th>
                    <th>Tłuszcze</th>
                <tr>

                {% for food in day.getSupper().getFood() %}
                <tr class="meal-food">
                    <td>{{ food.getFood.name }}</td>
                    <td>{{ food.serving }}</td>
                    <td>{{ food.calories }}</td>
                    <td>{{ food.protein }}</td>
                    <td>{{ food.carbs }}</td>
                    <td>{{ food.fat }}</td>
                </tr>
                {% endfor %}
            </table>
          {% else %}
              <a class="btn btn-primary btn-block" href="{{ path('mount_diet_days_day', {'date': "now"|date("Ymd")}) }}">Dodaj posiłki</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}