{% extends 'MountDietBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block header %}Nowy Posiłek{% endblock %}

{% block content %}

    <form action="{{ path('mount_diet_meals_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <fieldset>
            <legend>Jedzenie</legend>

            {% for entity in food %}
                <div class="col-lg-2 checkbox">
                    <label for="food-{{ entity.id }}">
                        <input type="checkbox" name="food[{{ entity.id }}][selected]" id="food-{{ entity.id }}" value="1">
                        {{ entity.name }}
                    </label>
                    <input type="text" class="form-control" name="food[{{ entity.id }}][serving]" id="food-{{ entity.id }}-serving" placeholder="{{ entity.servingSize }}">
                </div>
            {% endfor %}
        </fieldset>

        <input type="submit" class="btn btn-primary btn-block" value="Dodaj" />
    </form>

{% endblock %}
